body {
	background-image:url(http://img3.wikia.nocookie.net/__cb20131019152458/adventuretimewithfinnandjake/images/a/a9/S4_E24_Gunter_wearing_the_eye.PNG);
	font-family: sans-serif;
	font-size: 60px;
	color: black;
	text-align: center;
}
button {
	font-size: 60px;
}